*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.orange-text {
  color: #f7600e;
}

html {
  box-sizing: border-box;
  font-family: "Lato", "Arial", sans-serif;
}

html,
body {
  height: auto;
}

body {
  position: relative;
  line-height: 1.5;
}

/* utility classes */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

.fw-medium {
  font-weight: 400;
}

.ls-03rem {
  letter-spacing: 0.3rem;
  display: block;
}

.fs-15 {
  font-size: 1.5em;
}

.italic {
  font-style: italic;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.circle-border {
  border: 1px solid #aeaeae;
  border-radius: 50%;
  display: inline-block;
}

/* social icons  */
.fa-google-plus-g {
  background-color: #ff3921;
}

.fa-twitter {
  background-color: #3ec0ea;
}

.fa-facebook-f {
  background-color: #205b9f;
}

.fa-dribbble {
  background-color: #ff72a5;
}

.fa-behance {
  background-color: #009bd5;
}

.fab:hover,
.fab:focus {
  filter: brightness(1.2);
}

/* HEADER */

.site-nav__checkbox {
  display: none;
}

.site-nav__checkbox:checked ~ .site-nav__background {
  transform: scale(110);
}

.site-nav__checkbox:checked ~ .site-nav__nav {
  width: 100%;
  opacity: 1;
  left: 0;
}

.site-nav__checkbox:checked + .site-nav__button .site-nav__icon {
  background-color: transparent;
}

.site-nav__checkbox:checked + .site-nav__button .site-nav__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.site-nav__checkbox:checked + .site-nav__button .site-nav__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.site-nav__button {
  background-color: #fff;
  height: 3.5rem;
  width: 3.5rem;
  position: fixed;
  text-align: center;
  top: 1.75rem;
  right: 1.75rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 11;
  box-shadow: 0 0.8rem 2.2rem rgba(0, 0, 0, 0.1);
}

.site-nav__button:hover .site-nav__icon::before,
.site-nav__button:focus .site-nav__icon::before {
  top: -0.6rem;
}

.site-nav__button:hover .site-nav__icon::after,
.site-nav__button:focus .site-nav__icon::after {
  top: 0.6rem;
}

.site-nav__icon {
  position: relative;
  margin-top: 1.625rem;
}

.site-nav__icon,
.site-nav__icon::after,
.site-nav__icon::before {
  width: 1.75rem;
  height: 3px;
  background-color: #5e5e5e;
  display: inline-block;
}

.site-nav__icon::after,
.site-nav__icon::before {
  content: "";
  position: absolute;
  transition: all 0.2s ease-in-out;
  left: 0;
}

.site-nav__icon::before {
  top: -0.5rem;
}

.site-nav__icon::after {
  top: 0.5rem;
}

.site-nav__background {
  height: 3rem;
  width: 3rem;
  z-index: 9;
  border-radius: 50%;
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-image: radial-gradient(#f7920e, #f7600e);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.site-nav__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: -100vh;
  z-index: 10;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.site-nav__ul {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.site-nav__li {
  padding: 0.6rem 0;
}

.site-nav__li:nth-last-child(1) {
  width: 100%;
}

.site-nav__a,
.site-nav__a:link,
.site-nav__a:visited {
  font-size: 1.2rem;
  display: inline-block;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  padding: 0.35rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  background: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      white 50%
    )
    top left/230%;
  transition: all 0.4s ease-in-out;
}

.site-nav__a:hover,
.site-nav__a:active,
.site-nav__a:focus,
.site-nav__a:active {
  background-position-x: 100%;
  color: #f7600e;
  transform: translateX(1rem);
}

.social__group {
  margin-top: 2rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.social__link {
  font-size: 1.5rem;
}

.social__link span {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
}

.site-header {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  min-height: 5rem;
  flex-direction: row;
  text-align: left;
  background-size: cover;
}

.logo {
  color: white;
  font-size: 1.6rem;
  width: 70%;
  font-weight: 300;
  align-self: center;
  padding-left: 1.6rem;
  margin: 0;
}

.hero {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 2rem), 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% calc(100% - 2rem), 0% 100%);
  padding: 3rem;
  padding-top: 5rem;
  min-height: 100vh;
  flex-direction: column;
  color: white;
  background: linear-gradient(rgba(18, 27, 37, 0.85), rgba(18, 27, 37, 0.85)),
    url("../img/macbook-bg.png") top left/cover fixed;
}

.hero__motto {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 120%;
  text-align: center;
  font-weight: 100;
}

.hero__text {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  margin: 1rem 0 2rem 0;
}

.orange-btn {
  background-color: #f7600e;
  color: white;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  margin: 1rem;
  width: 8.5rem;
  border-radius: 0.5rem;
  padding: 0.65rem 0;
  border: none;
}

.orange-btn:hover,
.orange-btn:focus {
  -webkit-animation: pulse 0.7s;
  animation: pulse 0.7s;
  box-shadow: 0 0 0 5rem rgba(255, 255, 255, 0);
}

.works-btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  width: 8.5rem;
  border-radius: 0.5rem;
  padding: 0.65rem 0;
  border: 1px solid white;
  color: white;
}

.scroll-down {
  display: block;
  margin: 2rem 0;
  text-align: center;
}

.scroll-down span {
  color: white;
  font-size: 2.5rem;
  animation: blink 1.5s infinite;
}

/* service section */

.services {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  padding: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  color: #5e5e5e;
}

.service {
  padding-bottom: 3.5rem;
  text-align: center;
}

.service:nth-last-child(1) {
  padding: 0;
}

.service__heading {
  font-size: 1.5rem;
  padding: 1rem 0;
  text-transform: uppercase;
}

.service__text {
  max-width: 15rem;
  margin: 0 auto;
}

.service__icon {
  width: 4rem;
  margin: 2.5rem;
  fill: #f7600e;
}

/* newsletter section */

.newsletter {
  -webkit-clip-path: polygon(0 2rem, 100% 0%, 100% calc(100% - 2rem), 0% 100%);
  clip-path: polygon(0 2rem, 100% 0%, 100% calc(100% - 2rem), 0% 100%);
  min-height: 300px;
  height: 45vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#121b25d9, rgba(18, 27, 37, 0.85)),
    url("../img/tablet-bg.png") 60% / cover fixed;
  flex-direction: column;
}

.newsletter-form {
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;
}

.newsletter-form__input,
.newsletter-form__label {
  width: 70%;
}

.label {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.15rem;
}

.text-input {
  height: 3rem;
  border-radius: 0.65rem;
  display: block;
  font-size: 1.2rem;
  background: none;
  border: 1px solid #f7600e;
  border-left: 5px solid #f7600e;
  margin-bottom: 0.5rem;
  font-style: italic;
  outline: none;
  color: #5e5e5e;
  text-align: center;
  transition: color 100ms ease-in, border 100ms ease-in;
}

.text-input:focus {
  color: white;
  border: 3px solid #f7600e;
  border-left: 8px solid #f7600e;
}

.text-input:invalid {
  border-color: rgb(250, 110, 90);
}

.text-input:valid {
  border-color: palegreen;
}

.text-input:focus:invalid {
  background: url("../img/invalid.svg") 95% 50%/1.5rem no-repeat;
}

.text-input:focus:valid {
  background: url("../img/valid.svg") 95% 50%/1.5rem no-repeat;
}

.text-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.text-input:focus::-moz-placeholder {
  color: transparent;
}

.text-input:focus:-ms-input-placeholder {
  color: transparent;
}

.text-input:focus:-moz-placeholder {
  color: transparent;
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

/* our works section */

.our-works {
  color: #5e5e5e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
}

.our-works__heading {
  font-size: 2rem;
}

.our-works__text {
  margin: 1rem 1rem 2rem;
}

.our-works__images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 1.2rem;
}

.our-works__image {
  width: 50%;
  padding: 0.3rem;
  height: auto;
  border-radius: 6%;
  display: block;
  transform: translateX(-20px);
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.our-works__image.is-showing {
  opacity: 1;
  transform: translateX(0px);
}

/* testimonials section */

.testimonials {
  -webkit-clip-path: polygon(0 2rem, 100% 0%, 100% calc(100% - 2rem), 0% 100%);
  clip-path: polygon(0 2rem, 100% 0%, 100% calc(100% - 2rem), 0% 100%);
  min-height: 30rem;
  background: linear-gradient(#121b25d9, rgba(18, 27, 37, 0.85)),
    url("../img/woman-bg.png") 60% / cover fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonial__pic {
  border-radius: 50%;
  min-width: 10rem;
  width: 35%;
}

.testimonial__text {
  font-style: italic;
  padding: 2rem 3.5rem;
}

.testimonial__person {
  font-size: 0.8rem;
  color: #aeaeae;
}

.testimonial__swiper {
  border: 0;
}

.swiper-container {
  width: 100%;
  height: 100vh;
}

.swiper-button-next,
.swiper-button-prev {
  outline: 0;
  width: auto;
  height: auto;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  font-size: 2rem;
  color: #f7600e;
}

.swiper-pagination-bullet {
  background: #ffffff;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.swiper-pagination-bullet-active {
  background: #f7600e;
}

/* our team section */

.team {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  color: #5e5e5e;
}

.team__heading {
  font-size: 2rem;
}

.team__text {
  margin: 1rem 1rem 2rem 1rem;
}

.employee {
  padding: 2rem 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.contact::after {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  width: 95%;
  bottom: 12rem;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(to right, transparent, #ffffff, transparent);
}

.employee__photo {
  width: 150px;
  height: 200px;
  background: center/cover no-repeat;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.employee__photo--1 {
  background-image: url("../img/employee-1.png");
}

.employee__photo--2 {
  background-image: url("../img/employee-2.png");
}

.employee__photo--3 {
  background-image: url("../img/employee-3.png");
}

.employee__photo--4 {
  background-image: url("../img/employee-4.png");
}

.employee__name {
  font-size: 1.2rem;
  text-transform: uppercase;
  display: block;
  padding: 1rem 0;
}

.employee__social {
  padding-bottom: 0.5rem;
}

.fab {
  margin: 0 0.35rem;
  border-radius: 50%;
  color: white;
  width: 2rem;
  height: 2rem;
  transition: filter 0.2s ease-in-out;
  text-decoration: none;
  line-height: 2rem;
}

.employee__text {
  font-size: 0.8rem;
  font-style: italic;
  max-width: 14rem;
  margin: 0 auto;
}

/* contact section */
.contact {
  -webkit-clip-path: polygon(0 2rem, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 2rem, 100% 0%, 100% 100%, 0% 100%);
  color: white;
  padding: 3rem;
  padding-top: 5rem;
  padding-bottom: 15rem;
  position: relative;
  min-height: 100vh;
  display: flex;
  box-shadow: 0 12px 14px 3px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(18, 27, 37, 0.85), rgba(18, 27, 37, 0.85)),
    url("../img/city-bg.png") 60% / cover;
}

.contact__heading {
  font-size: 2rem;
}

.contact__text {
  font-size: 1rem;
  text-align: center;
  margin: 1rem 1rem 2rem 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact-form__label {
  width: 100%;
}

.contact-form__input {
  width: 100%;
}

.contact-form__txtarea {
  width: 100%;
  line-height: 1.5;
  min-height: 7.5rem;
  resize: vertical;
  text-align: left;
  padding: 5% 20% 5% 5%;
}

.contact-form__btn {
  margin-top: 1rem;
}

.contact-form__social {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
}

/* footer section  */
.site-footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 50%;
  width: 85%;
  transform: translateX(-50%);
  height: 12rem;
  color: white;
  font-size: 1rem;
  padding: 3rem;
  text-align: center;
}

.site-footer__link {
  text-decoration: none;
  color: white;
  background: linear-gradient(to bottom, #f7600e 0%, #f7600e 100%) 0 100%/3px
    3px repeat-x;
  transition: background-size 300ms;
}

.site-footer__link:hover,
.site-footer__link:focus {
  background-size: 4px 100px;
  outline: none;
}

.site-footer__text {
  margin-bottom: 1rem;
}

/* media queries  */

@media (max-height: 450px) {
  .site-nav__ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .site-nav__li {
    padding: 0;
  }
}

@media (min-width: 37.5em) {
  /* hero section */
  .hero__motto {
    margin-top: 4rem;
    font-size: 3rem;
  }

  .hero__text {
    font-size: 1.2rem;
  }

  .hero__btn {
    font-size: 1.2rem;
    width: 11rem;
    padding: 0.85rem 0;
  }

  .orange-btn {
    font-size: 1.2rem;
    width: 11rem;
    padding: 0.85rem 0;
  }

  /* service section */
  .service {
    padding: 2rem;
    width: 46.75%;
  }

  .service__heading {
    font-size: 1.6rem;
  }

  .service__text {
    font-size: 1.1rem;
  }

  .service__icon {
    width: 5.5rem;
  }

  .service:nth-last-child(1) {
    padding: 2rem;
  }

  /* newsletter secion */

  .newsletter-form__input,
  .newsletter-form__label {
    width: 45%;
  }

  /* our works section */
  .our-works {
    padding: 5rem 5rem;
  }

  .our-works__heading {
    font-size: 2.2rem;
  }

  .our-works__text {
    padding: 0 3rem;
  }

  .our-works__images {
    max-width: 40rem;
  }

  .our-works__image {
    width: 33.33%;
  }

  /* testimonial section */
  .testimonials {
    min-height: 32rem;
  }

  .testimonial__pic {
    max-width: 16rem;
  }

  .testimonial__text {
    font-size: 1.2rem;
  }

  .testimonial__person {
    font-size: 1rem;
  }

  /* our team section */
  .team__heading,
  .team__text {
    width: 100%;
  }

  .team__heading {
    font-size: 2.2rem;
  }

  .team {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5rem;
  }

  .employee {
    width: 50%;
  }

  .employee__name {
    font-size: 1.2rem;
  }

  .employee__text {
    padding: 0 20%;
    font-size: 1rem;
    max-width: unset;
    margin: 0;
  }

  /* contact section */
  .contact {
    padding-top: 6rem;
  }
  .contact-form {
    width: calc(50% + 4rem);
    max-width: 48rem;
  }
}

@media (min-width: 62.5em) {
  /* service section */
  .services {
    min-height: 80vh;
    max-width: 87.5rem;
    margin: 0 auto;
  }

  .service {
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .service:nth-last-child(1) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  /*our works section */
  .our-works__heading {
    font-size: 2.5rem;
  }

  .our-works__text {
    font-size: 1.2rem;
    max-width: 40rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  /* team section */
  .team {
    max-width: 90rem;
    margin: 0 auto;
  }

  .team__heading {
    font-size: 2.5rem;
  }

  .team__text {
    font-size: 1.2rem;
  }

  .employee {
    width: 25%;
  }
  /* contact section */
  .contact__heading {
    font-size: 2.5rem;
  }

  .contact__text {
    font-size: 1.2rem;
  }

  .contact-form__txtarea {
    min-height: 13.5rem;
  }

  .contact-form__label {
    font-size: 1.2rem;
  }

  .fab {
    margin: 0 0.35rem;
    font-size: 1.5rem;
    border-radius: 50%;
    color: white;
    width: 3rem;
    height: 3rem;
    transition: filter 0.2s ease-in-out;
    text-decoration: none;
    line-height: 3rem;
  }

  .employee__social .fab {
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
  }
}

/* KEYFRAMES */
/* pulse */
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #f7600e;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #f7600e;
  }
}

@keyframes blink {
  0%,
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@-webkit-keyframes autofill {
  to {
    color: #fff;
    background: transparent;
  }
}
