*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.orange-text {
  color: #f7600e;
}

html {
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
}

html, body {
  height: 100%;
}

/* utility classes */
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

.fw-medium {
  font-weight: 400;
}

.fs-15 {
  font-size: 1.5em;
}

.italic {
  font-style: italic;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-border {
  border: 1px solid #aeaeae;
  border-radius: 50%;
  display: inline-block;
}

/* social icons  */
.fa-google-plus-g {
  background-color: #ff3921;
} 

.fa-twitter {
  background-color: #3ec0ea;
} 

.fa-facebook-f {
  background-color: #205b9f;
}

.fa-dribbble {
  background-color: #ff72a5;
}

.fa-behance {
  background-color: #009bd5;
}


/* HEADER */
/*REPAIR IT LATER*/
.menu {
  display: none;
  width: 30%;
}

.site-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  min-height: 5rem;
  flex-direction: row;
  text-align: left;
  background-size: cover;
}

.logo{
  color: white;
  font-size: 1.6rem;
  width: 70%;
  font-weight: 300;
  align-self: center;
  padding-left: 1.6rem;
  margin: 0;
}

.hero {
  padding-top: 5rem;
  min-height: 100vh;
  flex-direction: column;
  color: white;
  background-image: linear-gradient(rgba(18, 27, 37, 0.85),rgba(18, 27,37, 0.85)), url('../img/macbook-bg.png');
  background-size: cover;
  background-attachment: fixed; 
}

.hero__motto {
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 120%;
  text-align: center;
  font-weight: 100;
}

.hero__text {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 150%;
  text-align: center; 
  margin: 1rem 0 2rem 0;
}

.orange-btn {
  background-color: #f7600e;
  color: white;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  width: 8.5rem;
  border-radius: 0.5rem;
  padding: 0.65rem 0;
  border: none;
  outline: none;
}

.orange-btn:hover,
.orange-btn:focus {
  -webkit-animation: pulse .7s;
  animation: pulse .7s;
  box-shadow: 0 0 0 5rem rgba(255, 255, 255, 0);
}

.works-btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  width: 8.5rem;
  border-radius: 0.5rem;
  padding: 0.65rem 0;
  margin-left: 1.2rem;
  border: 1px solid white;
  color: white;
}

.scroll-down{
  display: block;
  margin-top: 4rem;
  text-align: center;
}

.scroll-down span {
  color: white;
  font-size: 2.5rem;
  animation: blink 1.5s infinite;
}

/* servicer section */

.services {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  padding: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
  color: #6e6e6e;
}

.service {
  padding-bottom: 3.5rem;
  text-align: center;
}

.service:nth-last-child(1){
  padding: 0;
}

.service__heading {
  font-size: 1.5rem;
  padding: 1rem 0;
  text-transform: uppercase;
}

.service__icon {
  width: 4rem;
  margin: 2.5rem;
  fill: #f7600e;
}

/* newsletter section */

.newsletter {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#121b25d9,rgba(18, 27,37, 0.85)), url('../img/tablet-bg.png');
  background-attachment: fixed; 
  background-position: 60%;
  background-size: cover;
  flex-direction: column;
}
.newsletter-form {
  flex-direction: column;
  padding: 2rem 0;
  width: 100%;
}
.text-input {
  width: 85%;
  height: 3rem;
  border-radius: 0.65rem;
  margin: 0 1rem;
  background:none;
  border: 1px solid #f7600e;
  border-left: 5px solid #f7600e;
  margin-bottom: 2rem;
  font-style: italic;
  color: #6e6e6e;
  text-align: center;
  transition: font-size 100ms ease-in, border 100ms ease-in;
}

.text-input:focus {
  font-size: 1.2em;
  color: white;
  outline: none;
}

.text-input:invalid {
  border-color: rgb(250, 110, 90);
}

.text-input:valid {
  border-color: palegreen;
}

.text-input:focus:invalid {
  background: url("../img/invalid.svg") no-repeat 95% 50%;
  background-size: 1.5rem;
}

.text-input:focus:valid {
  background: url("../img/valid.svg") no-repeat 95% 50%;
  background-size: 1.5rem;
}

.text-input:focus::-webkit-input-placeholder { 
  color: transparent;
}

.text-input:focus::-moz-placeholder { 
  color: transparent;
}

.text-input:focus:-ms-input-placeholder { 
  color: transparent;
}

.text-input:focus:-moz-placeholder { 
  color: transparent;
}

input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}


/* our works section */

.our-works {
  color: #6e6e6e;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
}

.our-works__heading {
  font-size: 1.6rem;
}

.our-works__text {
  padding: 1rem 0;
}

.our-works__images {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 1.2rem;
}

.our-works__image {
  width: 50%;
  padding: 0.3rem;
  height: auto;
  border-radius: 6%;
  display: block;
  transform: translateX(-20px);
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.our-works__image.is-showing {
  opacity: 1;
  transform: translateX(0px);
}

/* testimonials section */

.testimonials {
  min-height: 25rem;
  background: linear-gradient(#121b25d9,rgba(18, 27,37, 0.85)), url('../img/woman-bg.png'); 
  background-size: cover;
  background-position: 60%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testimonial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonial__pic {
  border-radius: 50%;
  max-width: 35%;
}

.testimonial__text {
  font-size: 1.2rem;
  font-style: italic;
  padding: 2rem 3.5rem;
}

.testimonial__person {
  font-size: 0.8rem;
  color: #aeaeae;
}

.testimonial__swiper {
  border: 0;
}

.swiper-container {
  width: 100%;
  height: 100vh; 
}

.swiper-button-next, .swiper-button-prev {
  outline: 0;
  width: auto;
  height: auto;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  font-size: 2rem;
  color: #f7600e;
}



.swiper-pagination-bullet {
  background: #ffffff;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.swiper-pagination-bullet-active {
  background: #f7600e;
}

/* our team section */

.team {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  overflow: hidden;
  color: #6e6e6e;
}

.team__heading {
  font-size: 1.6rem;
}

.team__text {
  padding: 1rem 0;
}

.employee {
  padding: 2rem 0;
  width: 100%;
  height: 100%;
  position: relative
}

.employee:not(:nth-last-of-type(1))::after {
  content:'';
  display:block;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background:linear-gradient(to right,transparent, #6e6e6e, transparent);
}

.employee__photo {
  width: 40%;
  min-width: 150px;
  padding-top: 50%;
  min-height: 200px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}

.employee__photo--1 {
  background-image: url('../img/employee-1.png');

}

.employee__photo--2 {
  background-image: url('../img/employee-2.png');

}

.employee__photo--3 {
  background-image: url('../img/employee-3.png');

}

.employee__photo--4 {
  background-image: url('../img/employee-4.png');

}

.employee__name {
  font-size: 1.2rem;
  text-transform: uppercase;
  display: block;
  padding: 1rem 0;
}

.employee__social-media {
  padding-bottom: 1rem;
}

.fab {
  margin: 0 0.35rem;
  border-radius: 50%;
  color: white;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
}

.employee__text {
  font-size: 0.8rem;
  font-style: italic;
}

/* contact section */
.contact {
  color: white;
  padding: 3rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(18, 27, 37, 0.85),rgba(18, 27,37, 0.85)), url('../img/city-bg.png');
}

.contact__heading{
  font-size: 1.6rem;
}

.contact__text {
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0;
}

.contact-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center
}

.contact-form__input {
  width: 100%;

}

.text-input {
  height: 3rem;
  border-radius: 0.65rem;
  display: block;
  background:none;
  border: 1px solid #f7600e;
  border-left: 5px solid #f7600e;
  margin-bottom: 0.5rem;
  font-style: italic;
  outline: none;
  color: #6e6e6e;
  text-align: center;
  transition: font-size 100ms ease-in, border 100ms ease-in;
}

.contact-form__txtarea {
  width: 100%;
  min-height: 7.5rem;
}

.contact-form__btn {
  margin-top: 1rem;
}

.contact-form__social-media {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
}




/* KEYFRAMES */

/* pulse */
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #f7600e;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #f7600e;
  }
}

@keyframes blink {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@-webkit-keyframes autofill {
  to {
      color: #fff;
      background: transparent;
  }
}