*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

a {
  -webkit-tap-highlight-color: transparent;
}

.orange-text {
  color: #f7600e;
}

html {
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
}

html, body {
  height: 100%;
}

/* utility classes */
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
	clip: auto !important;
	-webkit-clip-path: none !important;
		clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}

.fw-medium {
  font-weight: 400;
}

.fs-15 {
  font-size: 1.5em;
}

.italic {
  font-style: italic;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-border {
  border: 1px solid #aeaeae;
  border-radius: 50%;
  display: inline-block;
}


/* HEADER */
/*REPAIR IT LATER*/
.menu {
  display: none;
  width: 30%;
}

.site-header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  min-height: 5rem;
  flex-direction: row;
  text-align: left;
  background-size: cover;
}

.logo{
  color: white;
  font-size: 1.6rem;
  width: 70%;
  font-weight: 300;
  align-self: center;
  padding-left: 1.6rem;
  margin: 0;
}

.hero {
  padding-top: 5rem;
  min-height: 100vh;
  flex-direction: column;
  color: white;
  background-image: linear-gradient(rgba(18, 27, 37, 0.85),rgba(18, 27,37, 0.85)), url('../img/macbook-bg.png');
  background-size: cover;
}

.hero__motto {
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 120%;
  text-align: center;
  font-weight: 100;
}

.hero__text {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 150%;
  text-align: center; 
  margin: 1rem 0 2rem 0;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  width: 8.5rem;
  border-radius: 0.5rem;
  padding: 0.65rem 0;
}

.hire-btn {
  background-color: #f7600e;
  color: white;
}

.hire-btn:hover,
.hire-btn:focus {
  -webkit-animation: pulse .7s;
  animation: pulse .7s;
  box-shadow: 0 0 0 5rem rgba(255, 255, 255, 0);
}

.works-btn {
  margin-left: 1.2rem;
  border: 1px solid white;
  color: white;
}

.scroll-down{
  display: block;
  margin-top: 4rem;
  text-align: center;
}

.scroll-down i {
  color: white;
  font-size: 2.5rem;
  animation: blink 1.5s infinite;
}

/* servicer section */

.services-section {
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #6e6e6e;
}

.service {
  padding: 3.5rem;
  text-align: center;
}

.service__heading {
  font-size: 1.5rem;
  padding: 1rem 0;
  text-transform: uppercase;
}

.service__icon {
  width: 4rem;
  margin: 2.5rem;
  fill: #f7600e;
}





/* KEYFRAMES */

/* pulse */
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #f7600e;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #f7600e;
  }
}

@keyframes blink {
  0%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}